In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import plotly.express as px
import plotly.graph_objs as go
import seaborn as sns
import sklearn 
import tkinter as tk
from flask import Flask
from  dotenv import dotenv_values
import pyodbc

In [3]:
environment_variables = dotenv_values('.env')

In [4]:
server = environment_variables.get("dap-projects-database.database.windows.net")
database = environment_variables.get("dapDB")
username = environment_variables.get("LP1_learner")
password = environment_variables.get("Hyp0th3s!$T3$t!ng")

In [5]:
connection_string = f"DRIVER={{SQL Server}};SERVER={"dap-projects-database.database.windows.net"};DATABASE={"dapDB"};UID={"LP1_learner"};PWD={"Hyp0th3s!$T3$t!ng"};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [6]:
connection = pyodbc.connect(connection_string)

In [7]:
query = "SELECT * FROM dbo.LP1_startup_funding2021"

data = pd.read_sql(query, connection)

C:\Users\MoseS\AppData\Local\Temp\ipykernel_10996\811209987.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)

In [8]:
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [10]:
#Renaming the columns to have one title and not different titles meaning the same thing
data = {
    'Company_Brand': [0],
    'Sector': [3],
    'What_it_does': [4],
    'Stage': [8]
}
data = pd.read_sql(query, connection)

# Renaming multiple columns
data.rename(columns={
    'Company_Brand': 'Company_Name',
    'Sector': 'Industry',
    'What_it_does': 'About_Company',
    'Stage': 'Round/Series'
}, inplace=True)
data.head()

C:\Users\MoseS\AppData\Local\Temp\ipykernel_10996\1018150759.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)

,Company_Name,Founded,HeadQuarter,Industry,About_Company,Founders,Investor,Amount,Round/Series
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [11]:
data["Amount"]

0         $1,200,000
1       $120,000,000
2        $30,000,000
3        $51,000,000
4         $2,000,000
            ...
1204        $3000000
1205       $20000000
1206       $55000000
1207       $26000000
1208        $8000000
Name: Amount, Length: 1209, dtype: object

In [12]:
#Removing the dollar signs from the Amount$ column
data['Amount'] = data.Amount.str.replace('$', '')
data['Amount'] = data.Amount.str.replace(',', '')
data["Amount"]

0         1200000
1       120000000
2        30000000
3        51000000
4         2000000
          ...
1204      3000000
1205     20000000
1206     55000000
1207     26000000
1208      8000000
Name: Amount, Length: 1209, dtype: object

In [13]:
# Assuming 'data' is your DataFrame
data = data.dropna(subset=['Founded', 'HeadQuarter', 'Investor', 'Amount', 'Round/Series'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 745 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   745 non-null    object
 1   Founded        745 non-null    float64
 2   HeadQuarter    745 non-null    object
 3   Industry       745 non-null    object
 4   About_Company  745 non-null    object
 5   Founders       741 non-null    object
 6   Investor       745 non-null    object
 7   Amount         745 non-null    object
 8   Round/Series   745 non-null    object
dtypes: float64(1), object(8)
memory usage: 58.2+ KB

In [14]:
data["Founded"]

0       2019.0
2       2012.0
3       2015.0
4       2021.0
7       2016.0
         ...
1204    2019.0
1205    2015.0
1206    2019.0
1207    2015.0
1208    2019.0
Name: Founded, Length: 745, dtype: float64

In [15]:
# Writing our years in whole numbers
data['Founded'] = data['Founded'].astype(int)
data["Founded"]

0       2019
2       2012
3       2015
4       2021
7       2016
        ...
1204    2019
1205    2015
1206    2019
1207    2015
1208    2019
Name: Founded, Length: 745, dtype: int64

In [16]:
data.head()

,Company_Name,Founded,HeadQuarter,Industry,About_Company,Founders,Investor,Amount,Round/Series
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000,Series D
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000,Series C
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000,Seed
7,Qube Health,2016,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 745 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   745 non-null    object
 1   Founded        745 non-null    int64
 2   HeadQuarter    745 non-null    object
 3   Industry       745 non-null    object
 4   About_Company  745 non-null    object
 5   Founders       741 non-null    object
 6   Investor       745 non-null    object
 7   Amount         745 non-null    object
 8   Round/Series   745 non-null    object
dtypes: int64(1), object(8)
memory usage: 58.2+ KB

In [90]:
#check for missing values still 
data.isna().any()

Company_Name     False
Founded          False
HeadQuarter      False
Industry         False
About_Company    False
Founders          True
Investor         False
Amount           False
Round/Series     False
dtype: bool

In [92]:
data.isna().sum()

Company_Name     0
Founded          0
HeadQuarter      0
Industry         0
About_Company    0
Founders         4
Investor         0
Amount           0
Round/Series     0
dtype: int64

In [94]:
#Check if the missing data is there by design or if it will impact analysis of the data as a whole  going forward
data_missing = data[data.isna().Founders]
data_missing

,Company_Name,Founded,HeadQuarter,Industry,About_Company,Founders,Investor,Amount,Round/Series
274,ByteLearn,2021,Noida,E-learning,AI powered teaching assistant for 100 Mn teach...,None,"Aditya Singhal, Nishant Sinha",9500000,Seed
558,The Sleep Company,2019,Mumbai,Consumer Goods,Patent Pending sleep technology developed by a...,None,Fireside Ventures,1000000,Pre-series A
1095,PredictiVu,2020,Gurugram,Management Consulting,PredictiVu's AI-enabled dashboard integrated w...,None,Kunal Sarkar,1500000,Pre-seed
1187,NeuroPixel.AI,2020,Bangalore,Deeptech,NeuroPixel.AI Labs is a deep tech start-up tha...,None,"Arvind Venugopal Nair, Amritendu Mukherjee",800000,Seed

In [18]:
data.columns

Index(['Company_Name', 'Founded', 'HeadQuarter', 'Industry', 'About_Company',
       'Founders', 'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [19]:
data.describe(include='object').columns

Index(['Company_Name', 'HeadQuarter', 'Industry', 'About_Company', 'Founders',
       'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [20]:
data.describe(include='number').columns

Index(['Founded'], dtype='object')

In [21]:
data.shape

(745, 9)

In [22]:
query = "SELECT * FROM dbo.LP1_startup_funding2020"

data2 = pd.read_sql(query, connection)

C:\Users\MoseS\AppData\Local\Temp\ipykernel_10996\553336433.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2 = pd.read_sql(query, connection)

In [23]:
data2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [24]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [25]:
#Renaming the columns to have one title and not different titles meaning the same thing
data2 = {
    'Company_Brand': [0],
    'Sector': [3],
    'What_it_does': [4],
    'Stage': [8]
}
data2 = pd.read_sql(query, connection)

# Renaming multiple columns
data2.rename(columns={
    'Company_Brand': 'Company_Name',
    'Sector': 'Industry',
    'What_it_does': 'About_Company',
    'Stage': 'Round/Series'
}, inplace=True)
data2 = data2.drop('column10', axis=1)
data2.head()

C:\Users\MoseS\AppData\Local\Temp\ipykernel_10996\3185913130.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2 = pd.read_sql(query, connection)

,Company_Name,Founded,HeadQuarter,Industry,About_Company,Founders,Investor,Amount,Round/Series
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None

In [26]:
# Dropping the Null rows, Assuming 'data2' is your DataFrame
data2 = data2.dropna(subset=['Founded', 'HeadQuarter', 'Investor', 'Amount', 'Round/Series'])
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 353 entries, 1 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   353 non-null    object
 1   Founded        353 non-null    float64
 2   HeadQuarter    353 non-null    object
 3   Industry       349 non-null    object
 4   About_Company  353 non-null    object
 5   Founders       352 non-null    object
 6   Investor       353 non-null    object
 7   Amount         353 non-null    float64
 8   Round/Series   353 non-null    object
dtypes: float64(2), object(7)
memory usage: 27.6+ KB

In [27]:
data2["Founded"]

1       2019.0
5       2019.0
6       2008.0
8       2015.0
9       2017.0
         ...
1039    2014.0
1048    2016.0
1049    2017.0
1053    2015.0
1054    2017.0
Name: Founded, Length: 353, dtype: float64

In [28]:
# Writing our years in whole numbers
data2['Founded'] = data2['Founded'].astype(int)
data2["Founded"]

1       2019
5       2019
6       2008
8       2015
9       2017
        ...
1039    2014
1048    2016
1049    2017
1053    2015
1054    2017
Name: Founded, Length: 353, dtype: int64

In [29]:
data2["Amount"]

1         100000.0
5         600000.0
6         600000.0
8       45000000.0
9        1000000.0
           ...
1039     3400000.0
1048    14700000.0
1049     1000000.0
1053     8043000.0
1054     9000000.0
Name: Amount, Length: 353, dtype: float64

In [30]:
# Writing our Amount without the decimal point in whole numbers
data2['Amount'] = data2['Amount'].astype(int)
data2["Amount"]

1         100000
5         600000
6         600000
8       45000000
9        1000000
          ...
1039     3400000
1048    14700000
1049     1000000
1053     8043000
1054     9000000
Name: Amount, Length: 353, dtype: int64

In [31]:
data2.head()

,Company_Name,Founded,HeadQuarter,Industry,About_Company,Founders,Investor,Amount,Round/Series
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000,Pre-seed
5,qZense,2019,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000,Seed
6,MyClassboard,2008,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000,Pre-series A
8,Rupeek,2015,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000,Series C
9,Gig India,2017,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000,Pre-series A

In [32]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 353 entries, 1 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   353 non-null    object
 1   Founded        353 non-null    int64
 2   HeadQuarter    353 non-null    object
 3   Industry       349 non-null    object
 4   About_Company  353 non-null    object
 5   Founders       352 non-null    object
 6   Investor       353 non-null    object
 7   Amount         353 non-null    int64
 8   Round/Series   353 non-null    object
dtypes: int64(2), object(7)
memory usage: 27.6+ KB

In [95]:
 #check for missing values still 
data2.isna().any()

Company_Name     False
Founded          False
HeadQuarter      False
Industry          True
About_Company    False
Founders          True
Investor         False
Amount           False
Round/Series     False
dtype: bool

In [96]:
#The data missing in the below columns is non-numerical so keeping it will not affectany further computation
data2.isna().sum()

Company_Name     0
Founded          0
HeadQuarter      0
Industry         4
About_Company    0
Founders         1
Investor         0
Amount           0
Round/Series     0
dtype: int64

In [33]:
data2.columns

Index(['Company_Name', 'Founded', 'HeadQuarter', 'Industry', 'About_Company',
       'Founders', 'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [34]:
data2.describe(include='object').columns

Index(['Company_Name', 'HeadQuarter', 'Industry', 'About_Company', 'Founders',
       'Investor', 'Round/Series'],
      dtype='object')

In [35]:
data2.describe(include='number').columns

Index(['Founded', 'Amount'], dtype='object')

In [36]:
data2.shape

(353, 9)

In [37]:
import os
import pandas as pd
file_path = "C:\\Users\\MoseS\\Desktop\\LP 1 Project\\startup_funding2019.csv"
data3 = pd.read_csv(file_path)

In [38]:
data3.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [39]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [40]:
#Go to the csv file and convert the Rupee Values to its equal dollar value
#Renaming the columns to have one title and not different titles meaning the same thing
data3 = {
    'Company/Brand': [0],
    'Sector': [3],
    'What it does': [4],
    'Amount($)': [7],
    'Stage': [8]
}
data3 = pd.read_csv(file_path)

# Renaming multiple columns
data3.rename(columns={
    'Company/Brand': 'Company_Name',
    'Sector': 'Industry',
    'What it does': 'About_Company',
    'Amount($)': 'Amount',
    'Stage': 'Round/Series'
}, inplace=True)
data3.head()

,Company_Name,Founded,HeadQuarter,Industry,About_Company,Founders,Investor,Amount,Round/Series
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [41]:
# Dropping rows with null values ,Assuming 'data' is your DataFrame
data3 = data3.dropna(subset=['Founded', 'HeadQuarter', 'Industry', 'Founders', 'Round/Series'])
data3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 1 to 86
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   23 non-null     object
 1   Founded        23 non-null     float64
 2   HeadQuarter    23 non-null     object
 3   Industry       23 non-null     object
 4   About_Company  23 non-null     object
 5   Founders       23 non-null     object
 6   Investor       23 non-null     object
 7   Amount         23 non-null     object
 8   Round/Series   23 non-null     object
dtypes: float64(1), object(8)
memory usage: 1.8+ KB

In [42]:
data3["Amount"]

1     $150,000,000
3      $30,000,000
7       $1,000,000
9     $275,000,000
12      $5,000,000
17     $15,000,000
19     Undisclosed
25      $1,500,000
26      $5,500,000
28     $12,000,000
35     $49,400,000
36     $32,000,000
38        $150,000
40      $2,000,000
50     $30,000,000
51      $4,000,000
53      $1,000,000
68     $25,000,000
72     $70,000,000
73     $60,000,000
75     Undisclosed
78      $2,100,000
86      $5,000,000
Name: Amount, dtype: object

In [43]:
#Removing the dollar signs from the Amount$ column
data3['Amount'] = data3.Amount.str.replace('$', '')
data3['Amount'] = data3.Amount.str.replace(',', '')
data3["Amount"]

1       150000000
3        30000000
7         1000000
9       275000000
12        5000000
17       15000000
19    Undisclosed
25        1500000
26        5500000
28       12000000
35       49400000
36       32000000
38         150000
40        2000000
50       30000000
51        4000000
53        1000000
68       25000000
72       70000000
73       60000000
75    Undisclosed
78        2100000
86        5000000
Name: Amount, dtype: object

In [44]:
data3["Founded"]

1     2014.0
3     2014.0
7     2013.0
9     2010.0
12    2018.0
17    2015.0
19    2018.0
25    2019.0
26    2017.0
28    2015.0
35    2017.0
36    2018.0
38    2016.0
40    2016.0
50    2012.0
51    2017.0
53    2015.0
68    2015.0
72    2008.0
73    2015.0
75    2015.0
78    2019.0
86    2016.0
Name: Founded, dtype: float64

In [45]:
# Writing our years in whole numbers
data3['Founded'] = data3['Founded'].astype(int)
data3["Founded"]

1     2014
3     2014
7     2013
9     2010
12    2018
17    2015
19    2018
25    2019
26    2017
28    2015
35    2017
36    2018
38    2016
40    2016
50    2012
51    2017
53    2015
68    2015
72    2008
73    2015
75    2015
78    2019
86    2016
Name: Founded, dtype: int64

In [46]:
data3.head()

,Company_Name,Founded,HeadQuarter,Industry,About_Company,Founders,Investor,Amount,Round/Series
1,Ruangguru,2014,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C
3,HomeLane,2014,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000,Series D
7,Kratikal,2013,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.",1000000,Pre series A
9,Lenskart,2010,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,275000000,Series G
12,Kaleidofin,2018,Chennai,Fintech,Platform that provides complete financial solu...,"Puneet Gupta, Sucharita Mukherjee",Oikocredit,5000000,Series A

In [47]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 1 to 86
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   23 non-null     object
 1   Founded        23 non-null     int64
 2   HeadQuarter    23 non-null     object
 3   Industry       23 non-null     object
 4   About_Company  23 non-null     object
 5   Founders       23 non-null     object
 6   Investor       23 non-null     object
 7   Amount         23 non-null     object
 8   Round/Series   23 non-null     object
dtypes: int64(1), object(8)
memory usage: 1.8+ KB

In [48]:
data3.columns

Index(['Company_Name', 'Founded', 'HeadQuarter', 'Industry', 'About_Company',
       'Founders', 'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [49]:
data3.describe(include='object').columns

Index(['Company_Name', 'HeadQuarter', 'Industry', 'About_Company', 'Founders',
       'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [50]:
data3.describe(include='number').columns

Index(['Founded'], dtype='object')

In [51]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 1 to 86
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   23 non-null     object
 1   Founded        23 non-null     int64
 2   HeadQuarter    23 non-null     object
 3   Industry       23 non-null     object
 4   About_Company  23 non-null     object
 5   Founders       23 non-null     object
 6   Investor       23 non-null     object
 7   Amount         23 non-null     object
 8   Round/Series   23 non-null     object
dtypes: int64(1), object(8)
memory usage: 1.8+ KB

In [52]:
data3.shape

(23, 9)

In [53]:
data3 = data3.to_csv('cleaned_data_startup_funding2019.csv', index=False)

In [54]:
import os
import pandas as pd
file_path = "C:\\Users\\MoseS\\Desktop\\LP 1 Project\\startup_funding2018.csv"
data4 = pd.read_csv(file_path)

In [55]:
data4.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,"$250,000","Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"$480,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"$780,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,"$2,000,000","Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [56]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 25.0+ KB

In [57]:
#Renaming the columns to have one title and not different titles meaning the same thing
data4 = {
    'Company Name': [0],
    'About Company': [5],
    'Location': [4]
}
data4 = pd.read_csv(file_path)

# Renaming multiple columns
data4.rename(columns={
    'Company Name': 'Company_Name',
    'About Company': 'About_Company',
    'Location': 'HeadQuarter'
}, inplace=True)
data4.head()

,Company_Name,Industry,Round/Series,Amount,HeadQuarter,About_Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,"$250,000","Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"$480,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"$780,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,"$2,000,000","Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [58]:
#checking from the initial info it seems this data set has no null values but we will check
# Assuming 'data' is your DataFrame
data4 = data4.dropna()
data4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   HeadQuarter    526 non-null    object
 5   About_Company  526 non-null    object
dtypes: object(6)
memory usage: 28.8+ KB

In [59]:
data4["Amount"]

0          $250,000
1          $480,000
2          $780,000
3        $2,000,000
4                 —
           ...
521    $225,000,000
522               —
523          $7,500
524        $420,000
525     $35,000,000
Name: Amount, Length: 526, dtype: object

In [60]:
#Removing the dollar signs from the Amount$ column
data4['Amount'] = data4.Amount.str.replace('$', '')
data4['Amount'] = data4.Amount.str.replace(',', '')
data4["Amount"]

0         250000
1         480000
2         780000
3        2000000
4              —
         ...
521    225000000
522            —
523         7500
524       420000
525     35000000
Name: Amount, Length: 526, dtype: object

In [61]:
data4.columns

Index(['Company_Name', 'Industry', 'Round/Series', 'Amount', 'HeadQuarter',
       'About_Company'],
      dtype='object')

In [62]:
data4.describe(include='object').columns

Index(['Company_Name', 'Industry', 'Round/Series', 'Amount', 'HeadQuarter',
       'About_Company'],
      dtype='object')

In [63]:
data4.head()

,Company_Name,Industry,Round/Series,Amount,HeadQuarter,About_Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,480000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,780000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [64]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   HeadQuarter    526 non-null    object
 5   About_Company  526 non-null    object
dtypes: object(6)
memory usage: 28.8+ KB

In [65]:
data4.shape

(526, 6)

In [66]:
data4 = data4.to_csv('cleaned_data_startup_funding2018.csv', index=False)

In [67]:
df=pd.concat([data,data2])
df.to_csv('aba.csv')

In [68]:
df.head()

,Company_Name,Founded,HeadQuarter,Industry,About_Company,Founders,Investor,Amount,Round/Series
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000,Series D
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000,Series C
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000,Seed
7,Qube Health,2016,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1098 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   1098 non-null   object
 1   Founded        1098 non-null   int64
 2   HeadQuarter    1098 non-null   object
 3   Industry       1094 non-null   object
 4   About_Company  1098 non-null   object
 5   Founders       1093 non-null   object
 6   Investor       1098 non-null   object
 7   Amount         1098 non-null   object
 8   Round/Series   1098 non-null   object
dtypes: int64(1), object(8)
memory usage: 85.8+ KB

In [70]:
df.columns

Index(['Company_Name', 'Founded', 'HeadQuarter', 'Industry', 'About_Company',
       'Founders', 'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [71]:
df.describe(include='object').columns

Index(['Company_Name', 'HeadQuarter', 'Industry', 'About_Company', 'Founders',
       'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [72]:
df.describe(include='number').columns

Index(['Founded'], dtype='object')

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1098 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   1098 non-null   object
 1   Founded        1098 non-null   int64
 2   HeadQuarter    1098 non-null   object
 3   Industry       1094 non-null   object
 4   About_Company  1098 non-null   object
 5   Founders       1093 non-null   object
 6   Investor       1098 non-null   object
 7   Amount         1098 non-null   object
 8   Round/Series   1098 non-null   object
dtypes: int64(1), object(8)
memory usage: 85.8+ KB

In [74]:
df.shape

(1098, 9)

In [75]:
df2=pd.concat([data,data2,data3])
df2.to_csv('aba2.csv')

In [76]:
df2.head()

,Company_Name,Founded,HeadQuarter,Industry,About_Company,Founders,Investor,Amount,Round/Series
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000,Series D
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000,Series C
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000,Seed
7,Qube Health,2016,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A

In [77]:
df2.columns

Index(['Company_Name', 'Founded', 'HeadQuarter', 'Industry', 'About_Company',
       'Founders', 'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [78]:
df2.describe(include='object').columns

Index(['Company_Name', 'HeadQuarter', 'Industry', 'About_Company', 'Founders',
       'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [79]:
df2.describe(include='number').columns

Index(['Founded'], dtype='object')

In [80]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1098 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   1098 non-null   object
 1   Founded        1098 non-null   int64
 2   HeadQuarter    1098 non-null   object
 3   Industry       1094 non-null   object
 4   About_Company  1098 non-null   object
 5   Founders       1093 non-null   object
 6   Investor       1098 non-null   object
 7   Amount         1098 non-null   object
 8   Round/Series   1098 non-null   object
dtypes: int64(1), object(8)
memory usage: 85.8+ KB

In [81]:
df2.shape

(1098, 9)

In [82]:
df3=pd.concat([data,data2,data3,data4])
df3.to_csv('aba3.csv')

In [83]:
df3.head()

,Company_Name,Founded,HeadQuarter,Industry,About_Company,Founders,Investor,Amount,Round/Series
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000,Series D
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000,Series C
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000,Seed
7,Qube Health,2016,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A

In [84]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1098 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   1098 non-null   object
 1   Founded        1098 non-null   int64
 2   HeadQuarter    1098 non-null   object
 3   Industry       1094 non-null   object
 4   About_Company  1098 non-null   object
 5   Founders       1093 non-null   object
 6   Investor       1098 non-null   object
 7   Amount         1098 non-null   object
 8   Round/Series   1098 non-null   object
dtypes: int64(1), object(8)
memory usage: 85.8+ KB

In [85]:
df3.columns

Index(['Company_Name', 'Founded', 'HeadQuarter', 'Industry', 'About_Company',
       'Founders', 'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [86]:
df3.describe(include='object').columns

Index(['Company_Name', 'HeadQuarter', 'Industry', 'About_Company', 'Founders',
       'Investor', 'Amount', 'Round/Series'],
      dtype='object')

In [87]:
df3.describe(include='number').columns

Index(['Founded'], dtype='object')

In [88]:
df3.shape

(1098, 9)