# **Data loading**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import plotly.express as px
import plotly.graph_objs as go
import seaborn as sns
import tkinter as tk
from flask import Flask
from  dotenv import dotenv_values
import pyodbc

In [2]:
environment_variables = dotenv_values('.env')

In [ ]:
server = environment_variables.get("dap-projects-database.database.windows.net")
database = environment_variables.get("dapDB")
username = environment_variables.get("LP1_learner")
password = environment_variables.get("Hyp0th3s!$T3$t!ng")

In [ ]:
connection_string = f"DRIVER={{SQL Server}};SERVER={"dap-projects-database.database.windows.net"};DATABASE={"dapDB"};UID={"LP1_learner"};PWD={"Hyp0th3s!$T3$t!ng"};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [ ]:
connection = pyodbc.connect(connection_string)

In [ ]:
query = "SELECT * FROM dbo.LP1_startup_funding2020"

data = pd.read_sql(query, connection)

C:\Users\MoseS\AppData\Local\Temp\ipykernel_12212\2293906771.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)

In [ ]:
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [ ]:
data.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [ ]:
data.describe(include='object').columns

Index(['Company_Brand', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Stage', 'column10'],
      dtype='object')

In [ ]:
data.describe(include='number').columns

Index(['Founded', 'Amount'], dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [ ]:
data.shape

(1055, 10)

In [ ]:
query = "SELECT * FROM dbo.LP1_startup_funding2021"

data2 = pd.read_sql(query, connection)

C:\Users\MoseS\AppData\Local\Temp\ipykernel_12212\1562486223.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2 = pd.read_sql(query, connection)

In [ ]:
data2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [ ]:
data2.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [ ]:
data2.describe(include='object').columns

Index(['Company_Brand', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Amount', 'Stage'],
      dtype='object')

In [ ]:
data2.describe(include='number').columns

Index(['Founded'], dtype='object')

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [ ]:
data2.shape

(1209, 9)

In [ ]:
import os
import pandas as pd
file_path = "F:\\school\\Azubi Africa\\LP1 Data Analytics Project\\LP-1-Project\\data\\startup_funding2019.csv"
data3 = pd.read_csv(file_path)

In [ ]:
data3.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [ ]:
data3.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [ ]:
data3.describe(include='object').columns

Index(['Company/Brand', 'HeadQuarter', 'Sector', 'What it does', 'Founders',
       'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [ ]:
data3.describe(include='number').columns

Index(['Founded'], dtype='object')

In [ ]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [ ]:
data3.shape

(89, 9)

In [ ]:
import os
import pandas as pd
file_path = "F:\\school\\Azubi Africa\\LP1 Data Analytics Project\\LP-1-Project\\data\\startup_funding2018.csv"
data4 = pd.read_csv(file_path)

In [ ]:
data4.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,"$250,000","Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"$480,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"$780,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,"$2,000,000","Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [ ]:
data4.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [ ]:
data4.describe(include='object').columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [ ]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 25.0+ KB

In [ ]:
data4.shape

(530, 6)

In [ ]:
import pandas as pd
import os

df = pd.concat([data, data2])


directory = "F:\\school\\Azubi Africa\\LP1 Data Analytics Project\\LP-1-Project\\data"


filepath = os.path.join(directory, 'aba.csv') 

df.to_csv(filepath, index=False) 

print(f"File saved to: {filepath}")

File saved to: F:\school\Azubi Africa\LP1 Data Analytics Project\LP-1-Project\data\aba.csv

In [ ]:
df.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [ ]:
df.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [ ]:
df.describe(include='object').columns

Index(['Company_Brand', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [ ]:
df.describe(include='number').columns

Index(['Founded'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2264 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2264 non-null   object
 1   Founded        2050 non-null   float64
 2   HeadQuarter    2169 non-null   object
 3   Sector         2251 non-null   object
 4   What_it_does   2264 non-null   object
 5   Founders       2248 non-null   object
 6   Investor       2164 non-null   object
 7   Amount         2007 non-null   object
 8   Stage          1372 non-null   object
 9   column10       2 non-null      object
dtypes: float64(1), object(9)
memory usage: 194.6+ KB

In [ ]:
df.shape

(2264, 10)

In [ ]:
import pandas as pd
import os

df2 = pd.concat([data, data2, data3])


output_dir = "F:\\school\\Azubi Africa\\LP1 Data Analytics Project\\LP-1-Project\\data"
output_file = "aba2.csv"
full_path = os.path.join(output_dir, output_file)



df2.to_csv(full_path, index=False) 

print(f"DataFrame saved to: {full_path}")

DataFrame saved to: F:\school\Azubi Africa\LP1 Data Analytics Project\LP-1-Project\data\aba2.csv

In [ ]:
df2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,Company/Brand,What it does,Amount($)
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,NaN,NaN,NaN
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,NaN,NaN,NaN
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,NaN,NaN,NaN
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,NaN,NaN,NaN
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,NaN,NaN,NaN

In [ ]:
df2.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10', 'Company/Brand',
       'What it does', 'Amount($)'],
      dtype='object')

In [ ]:
df2.describe(include='object').columns

Index(['Company_Brand', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Amount', 'Stage', 'column10', 'Company/Brand',
       'What it does', 'Amount($)'],
      dtype='object')

In [ ]:
df2.describe(include='number').columns

Index(['Founded'], dtype='object')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2353 entries, 0 to 88
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2264 non-null   object
 1   Founded        2110 non-null   float64
 2   HeadQuarter    2239 non-null   object
 3   Sector         2335 non-null   object
 4   What_it_does   2264 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       2253 non-null   object
 7   Amount         2007 non-null   object
 8   Stage          1415 non-null   object
 9   column10       2 non-null      object
 10  Company/Brand  89 non-null     object
 11  What it does   89 non-null     object
 12  Amount($)      89 non-null     object
dtypes: float64(1), object(12)
memory usage: 257.4+ KB

In [ ]:
df2.shape

(2353, 13)

In [ ]:
import pandas as pd
import os


output_directory = "F:\\school\\Azubi Africa\\LP1 Data Analytics Project\\LP-1-Project\data"  


os.makedirs(output_directory, exist_ok=True)  


output_path = os.path.join(output_directory, 'aba3.csv')

df3 = pd.concat([data, data2, data3, data4])
df3.to_csv(output_path)

print(f"File saved to: {output_path}")

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\MoseS\AppData\Local\Temp\ipykernel_12212\2617106949.py:5: SyntaxWarning: invalid escape sequence '\d'
  output_directory = "F:\\school\\Azubi Africa\\LP1 Data Analytics Project\\LP-1-Project\data"

File saved to: F:\school\Azubi Africa\LP1 Data Analytics Project\LP-1-Project\data\aba3.csv

In [ ]:
df3.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,Company/Brand,What it does,Amount($),Company Name,Industry,Round/Series,Location,About Company
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df3.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10', 'Company/Brand',
       'What it does', 'Amount($)', 'Company Name', 'Industry', 'Round/Series',
       'Location', 'About Company'],
      dtype='object')

In [ ]:
df3.describe(include='object').columns

Index(['Company_Brand', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Amount', 'Stage', 'column10', 'Company/Brand',
       'What it does', 'Amount($)', 'Company Name', 'Industry', 'Round/Series',
       'Location', 'About Company'],
      dtype='object')

In [ ]:
df3.describe(include='number').columns

Index(['Founded'], dtype='object')

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2883 entries, 0 to 529
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2264 non-null   object
 1   Founded        2110 non-null   float64
 2   HeadQuarter    2239 non-null   object
 3   Sector         2335 non-null   object
 4   What_it_does   2264 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       2253 non-null   object
 7   Amount         2533 non-null   object
 8   Stage          1415 non-null   object
 9   column10       2 non-null      object
 10  Company/Brand  89 non-null     object
 11  What it does   89 non-null     object
 12  Amount($)      89 non-null     object
 13  Company Name   526 non-null    object
 14  Industry       526 non-null    object
 15  Round/Series   526 non-null    object
 16  Location       526 non-null    object
 17  About Company  526 non-null    object
dtypes: float64(1), object(17)
memory usage: 427.9+ KB

In [ ]:
df3.shape

(2883, 18)